.banner{
    width: 1330px;
    height: 630px;
    border: 3px solid black;
    margin: auto;
    
    background-image: url(img/monitor.jpg);
    
    background-size: 100% 100%;  
    
    animation: banner 10s infinite;
    
}

@keyframes banner{
    0%, 30%{
        background-image: url(img/monitor.jpg);
        opacity: 1;
    }
    31%, 34% {
      opacity: 0.1;  
    }   
    35%, 65% {
        background-image: url(img/mouse.jpg);
        opacity: 1; 
    }
    66%, 69%{
        opacity: 0.1%;
    }
    70%, 100% {
        opacity: 1;
        background-image: url(img/teclado.jpg);
    }
}